#menu {
    list-style-type: none;
    background-color: aliceblue;
}

#menu li
{
    display:inline;
    text-align: center;
}

#menu li a
{
    display:inline-block;
    width: auto;
    text-decoration: none;
    padding: 10px;
}
#menu li a:hover {
    background-color: steelblue;
    color: white;
}

#menu .dropdown a {
    text-align: center;
    width: 100%;
}

#timeStamp {
    width: 150px;
    font-family: YuGothic;
    text-align: center;
    color: steelblue;
}

#info964 {
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    top: 25%;
    right: 25%;
    overflow: scroll;
    text-align: left;
    opacity: 0.9;
    animation-name: info;
    animation-duration: 0.5s;
}

@keyframes info {
    from {opacity: 0;}
    to {opacity: 0.9;}
}