
#menu li
{
    display:inline;
    text-align: center;
}

#menu li a
{
    display:inline-block;
    width: auto;
    text-decoration: none;
    padding: 10px;
}
#menu li a:hover {
    background-color: steelblue;
    color: white;
}

#menu .dropdown a {
    text-align: center;
    width: 100%;
}

#timeStamp {
    width: 150px;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-family: 'Cinzel', serif;
    color: white;
}

#info964 {
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    top: 25%;
    right: 25%;
    overflow: scroll;
    text-align: left;
    opacity: 0.9;
    animation-name: info;
    animation-duration: 0.5s;
}

@keyframes info {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

#menu {
    background: #424c50;
}

.navbar-nav > li a:hover{
    background: #41555d !important;
}


.navbar-nav > li a{
    font-family: 'Cinzel', serif;
    color: white;
}

.dropdown-menu li a {
    color: #424c50;
}