body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: YuGothic, serif; margin: 0;}
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

html {
    height:100%;
}
body {
    height:90%;
}

.page
{
    margin: 2em auto;
    width:calc(100% - 4em);
    min-height:calc(100% - 4em);
    height: fit-content;
    border: 10px solid #666666;
    box-shadow: 0 1px 3px black;
    padding: 0.8em;
    background: #333333;
    font-family: 'Cinzel', serif;

}
.metanav        { text-align: left; font-size: 12em; padding: 0.3em;
                    margin-bottom: 1em; background: #fafafa;}
.flash          { background:  #336699; padding: 0.5em;
                    border: 1px solid  #336699; box-shadow: 0 1px 3px black;}
.error          { background: #993333; padding: 0.5em; box-shadow: 0 1px 3px black;}
.picture        { margin: 2em auto; width: 55em; border: 1px solid #ccc;
                    padding: 0.8em; background: white; }
.login        { margin: 2em auto; max-width: 35em; width: 80%; border: 1px solid #ccc;
                    padding: 0.8em; background: white; }

#home {
    margin: 20px;
    position: relative;
}

.navbar{
    box-shadow: 0 1px 3px black;
}

.navbar-nav > li{
    margin-left: 5px;
    border-radius: 2px;
    background: #50616d;
    box-shadow: 0 1px 3px black;
}

#contactCard{
   background: #999999;
    box-shadow: 0 1px 3px black;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    z-index: 100;

}

#weblist{
    box-shadow: 5px 5px 5px 5px black;
    background: #41555d;

}

.ipage .list-group{
    background: #41555d;

}

.ipage .list-group-item{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: larger;
}

.ipage .list-group-item a{
    color: #424c50;

}

.ipage .list-group-item a:hover{
    text-decoration: none;
    color: black;
}




